<%- include('includes/header') %>

<div class="container">

  <%- include('includes/flash') %>

  <div class="row align-items-center ">
    
    <h2>This is home page</h2>

  </div>
</div>
  
<%- include('includes/footer') %>